#dAlphabet {
	float: left;
	padding: 4px;
}

#dRules {
	float: left;
	padding: 4px;
}

#dRun {
	float: left;
	padding: 4px;
}

.aLetter{
	padding: 1px;
	margin: 1px;
	border: 1px solid #000000;
}

.aRule{
	padding: 1px;
	margin: 1px;
	border: 1px solid #000000;
}

.aRun{
	padding: 1px;
	margin: 1px;
	border: 1px solid #000000;
}
	

#delete{
	float: right;
}

.terminator{
	float: right;
}

a { 
	float: right;
	cursor: pointer; 
	color: blue; 
}

a:hover,a.hover { 
	text-decoration: underline; 
}
