<div class="row row-spacer">
    <div class="col-sm-3 col-xs-4">
        <label for="basic-url">Alphabet</label>
        <div class="input-group">
            <input type="text" class="form-control" maxlength="1" ng-model="letter" ng-keypress="addLetter($event)">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="addLetter()">Ok</button>
            </span>
        </div>
    </div>
    <div class="col-sm-5 col-xs-8">
        <label for="basic-url">Production Rules</label>
        <div class="input-group">
            <input id="ruleFrom" type="text" class="form-control" ng-model="ruleFrom" ng-keypress="addRule('from', $event)">
            <span class="input-group-addon">→</span>
            <input id="ruleTo" type="text" class="form-control" ng-model="ruleTo" ng-keypress="addRule('to', $event)">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="addRule()">Ok</button>
            </span>
        </div>
    </div>
    <div class="col-sm-4 col-xs-12">
        <label for="basic-url">Input</label>
        <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Run</button>
            </span>
        </div>
    </div>
</div>
<div class="row row-spacer">
    <div class="col-sm-3 col-xs-4">
        <div class="ui-sortable">
            <div class="btn-group-vertical output" role="group">
                <button type="button" class="btn btn-warning" ng-repeat="letter in data.alphabet track by $index" ng-click="data.alphabet.splice($index, 1)">{{letter}}</button>
            </div>
        </div>
    </div>
    <div class="col-sm-5 col-xs-8">
        <div class="ui-sortable">
            <span class="input-group output" ng-repeat="rule in data.rules track by $index">
                <span class="input-group-warning">{{rule.from | emptyFilter}}→{{rule.to | emptyFilter}}</span>
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-sort" title="Drag to move"></i>
                </span>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" title="Toggle terminating rule">
                        <i class="glyphicon glyphicon-off"></i>
                    </button>
                    <button class="btn btn-default" type="button" title="Delete rule" ng-click="data.rules.splice({{$index}}, 1)">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                </span>
            </span>
        </div>
    </div>
    <div class="col-sm-4 col-xs-12">
        <div class="ui-sortable">
        </div>
    </div>
</div>
