<div class="row row-spacer">
    <div class="col-sm-6 col-xs-12">
        <form class="form-inline">
            <div class="form-group form-radio">
                <div class="radio-inline">
                    <label>
                        <input id="mode1" value="markov" name="modeselect" type="radio" ng-model="data.mode" > Markov Mode
                    </label>
                </div>
                <div class="radio-inline">
                    <label> 
                        <input id="mode2" value="semithue" name="modeselect" type="radio" ng-model="data.mode" > Semi-Thue Mode
                    </label>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-6 col-xs-12">
        <form class="form-inline">
            <div class="form-group">
                <label for="iterations">Max Iterations</label>
                <input type="number" class="form-control" id="iterations" ng-model="data.maxIterations">
            </div>
        </form>
    </div>
</div>

<div class="row row-spacer">
    <div class="col-sm-3 col-xs-4">
        <label for="basic-url">Alphabet</label>
        <div class="input-group">
            <input type="text" class="form-control" maxlength="1" ng-model="letter" ng-keypress="addLetter($event)">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="addLetter()">Ok</button>
            </span>
        </div>
    </div>
    <div class="col-sm-5 col-xs-8">
        <label for="basic-url">Production Rules</label>
        <div class="input-group">
            <input id="ruleFrom" type="text" class="form-control" ng-model="ruleFrom" ng-keypress="addRule('from', $event)">
            <span class="input-group-addon">→</span>
            <input id="ruleTo" type="text" class="form-control" ng-model="ruleTo" ng-keypress="addRule('to', $event)">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="addRule()">Ok</button>
            </span>
        </div>
    </div>
    <div class="col-sm-4 col-xs-12">
        <label for="basic-url">Input</label>
        <div class="input-group">
            <input type="text" class="form-control" ng-model="data.input" ng-keypress="runAutomat($event)">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="runAutomat()">Run</button>
            </span>
        </div>
    </div>
</div>
<div class="row row-spacer">
    <div class="col-sm-3 col-xs-4">
        <div class="ui-sortable">
            <div class="btn-group-vertical output" role="group">
                <button type="button" class="btn btn-warning" title="Click to remove" ng-repeat="letter in data.alphabet track by $index" ng-click="data.alphabet.splice($index, 1)">{{letter}}</button>
            </div>
        </div>
    </div>
    <div class="col-sm-5 col-xs-8">
        <div class="ui-sortable">
            <span class="input-group output" ng-repeat="rule in data.rules track by $index">
                <span class="input-group-addon" title="Rule number">{{$index + 1}})</span>
                <span class="input-group-warning">{{rule.from | emptyFilter}}→{{rule.to | emptyFilter}}</span>
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-sort" title="Drag to move"></i>
                </span>
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-class="{'btn-danger': rule.terminating}" type="button" ng-show="data.mode == 'markov'" ng-click="rule.terminating = !rule.terminating" title="Toggle terminating rule">
                        <i class="glyphicon glyphicon-off"></i>
                    </button>
                    <button class="btn btn-danger" type="button" title="Delete rule" ng-click="data.rules.splice({{$index}}, 1)">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                </span>
            </span>
        </div>
    </div>
    <div class="col-sm-4 col-xs-12">
        <div class="ui-sortable">
            <span class="input-group output" ng-repeat="result in results track by $index">
                <span class="input-group-addon">{{$index}}</span>
                <span class="input-group-addon" title="Rule used">{{result.used}})</span>
                <span class="input-group-important" ng-bind-html="result.display"></span>
            </span>
        </div>
    </div>
</div>
